.shope-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 0 5%;
    position: relative;
}
.products-containe{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3 , 1fr);
    
}
.products-containe img{
    width: 90%;

}
.product{
    border: 3px solid hsla(0, 10%, 17%, 0.187);
    border-radius: 20px;
    position: relative;
    padding-bottom: 30px;
}
.product img , .pro-info{
    padding: 5%;
    border-radius: 20px;
}
.btn-cart{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    width: 100%;
    border: 0;
    border-radius:0 0 15px 15px ;
    position: absolute;
    bottom: 0;
}
.btn-cart:hover{
    background-color: #ffcd70;
}

.cart-container{
    background-color: #ffcd70;
    text-align: center;
    position: sticky;
    top: 0;
}
